<!DOCTYPE html>
<meta charset="utf-8">
<style>
text {
  font: 10px sans-serif;
  text-anchor: middle;
}
</style>
<script src="https://d3js.org/d3.v3.min.js"></script>

<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <h1><font color="white"><span style="font-family:'Roboto', sans-serif;"><span style="font-size:65px;">Music Auto-Tagger</span></font></h1>
<!-- <p><font color="white"><span style="font-family: 'Roboto',sans-serif;"><span style="font-size:20px;"><br>This is a demo for UCSC TIM 209 course project.<br>The program will automatically generate top-25 from 50 music tags with a pre-trained 4-layer Convolutional Neural Networks.<br><br></span></font></p> -->
<p style=" padding:10px 0px 5px 0px; height:auto; width:550px;"><font color="white"><span style="font-family:'Roboto', sans-serif;font-weight: lighter;"><span style="font-size:large;">This is a demo for UCSC TIM 209 course project.The program will automatically generate top-25 from 50 music tags with a pre-trained 4-layer Convolutional Neural Networks.<br></span></font>
<title>This is only for demo!!</title>
<style>
{% load static %}
    body {
        background: url('/static/cutie.jpg');

        background-size: 100% auto;
       background-color: white;
    }
    em {
        color: LightSeaGreen;
    }
</style>
</head>



<body>
<!-- <form name="input" action="result" method="post">{% csrf_token %}
    
    <input type="text" name="video_url" value='{{ video_url }}'>
    <input type="submit" value="Start">
</form> -->

<form action="/music-tag/" method="post">{% csrf_token %}
    <p><font color="white"><span style="font-family: 'Roboto',sans-serif;font-weight: lighter;"><span style="font-size:large;">Enter your Youtube URL below and the tags will be rendered!</span></font></p>
    <!-- <label for="url">url: </label> -->
    <input id="test" type="text" name="url" style="width: 300px; height:20px";>
    <input type="submit" value="OK" style="font-size:15px";>
    </form>
    </body>
   </p>
<svg width="0" height="600" viewBox="0 0 800 600" preserveAspectRatio="xMinYMin meet">
<script>

var diameter = 700, //max size of the bubbles
    color    = d3.scale.category20b(); //color category

var bubble = d3.layout.pack()
    .sort(null)
    .size([diameter, diameter])
    .padding(1.5);

var svg = d3.select("body")
    .append("svg")
    .attr("width", diameter)
    .attr("height", diameter)
    .attr("class", "bubble");


// /Users/Frank/Documents/UCSC/TIM_209/project/demo/test/mysite/musictagger/static/music_tag.csv
// /static/music_tag.csv
{% load static %}
d3.csv('/static/music_tag.csv', function(error, data){

    //convert numerical values from strings to numbers
    data = data.map(function(d){ d.value = +d["Value"]; return d; });

    //bubbles needs very specific format, convert data to this.
    var nodes = bubble.nodes({children:data}).filter(function(d) { return !d.children; });

    //setup the chart
    var bubbles = svg.append("g")
        .attr("transform", "translate(0,0)")
        .selectAll(".bubble")
        .data(nodes)
        .enter();

    //create the bubbles
    bubbles.append("circle")
        .attr("r", function(d){ return d.r; })
        .attr("cx", function(d){ return d.x; })
        .attr("cy", function(d){ return d.y-50; })
        .style("fill", function(d) { return color(d.value); });

    //format the text for each bubble
    bubbles.append("text")
        .attr("x", function(d){ return d.x; })
        .attr("y", function(d){ return d.y + 5-50; })
        .attr("text-anchor", "middle")
        .text(function(d){ return d["Tag"]; })
        .style({
            "fill":"white", 
            "font-family":"Helvetica Neue, Helvetica, Arial, san-serif",
            "font-size": "20px"
        });
})
</script>
</svg>
<!-- <div class="footer">
        <p style=" padding:550px 0px 5px 1000px; height:10px; width:600px;"><font color="white"><span style="font-family: 'Roboto',sans-serif;font-weight: lighter;"><span style="font-size:large;">All Right Reserved to Yuan-Ping Chen, Chuan-Yi Chan and Bo-Syun Liao</span></font></p>
    </div> -->